html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: calc(100% - 4rem);
    min-height: calc(100lvh - 8.05rem);
    padding: 2rem;
    background-color: var(--primary);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
}

h1{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
    font-size: 3em;
}

#about-txt{
    width: 75ch;
    max-width: 100%;
    color: var(--secondary);
    text-align: justify;
}

#tools{
    width: calc(75ch - 2rem);
    padding: 1rem;
    max-width: 100%;
    background-color: var(--blue-torc-2);
    backdrop-filter: blur(10px);
    border: 2px solid var(--blue-torc);
    border-radius: 25px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
}