html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: calc(100% - 4rem);
    min-height: calc(100lvh - 8.05rem);
    padding: 2rem;
    background-color: var(--primary);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
    font-size: 3em;
}

form{
    width: 830px;
    max-width: 100%;
    height: 28rem;
    display: grid;
    gap: .5rem;
    grid-template-columns:
        repeat(4, 1fr);
    grid-template-rows:
        repeat(6, 1fr);
}

form input {
    grid-column: span 2;
    padding: 0px 1rem;
    color: var(--secondary);
    font-size: 14px;
    outline: none;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
}

#subject{
    grid-column: span 4
}

textarea{
    grid-column: span 4;
    grid-row: span 2;
    color: var(--secondary);
    font-size: 1em;
    resize: none;
    padding: 1rem;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
}

button{
    color: var(--secondary);
    font-size: 1.3em;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    transition: .3s ease;
    cursor: pointer;
}


button:hover{
    color: var(--secondary);
    background-color: var(--blue-torc);
    border: 2px solid var(--blue-torc);
}