html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: calc(100% - 4rem);
    min-height: calc(100lvh - 8.05rem);
    padding: 2rem;
    background-color: var(--primary);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#experiences{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
}

h1{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
    font-size: 3em;
}

#experiences-container{
    width: 830px;
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card{
    width: 50ch;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
}

.card h3{
    width: calc(100% - 2rem);
    padding: .5rem 1rem;
    color: var(--primary);
    background-color: var(--blue-torc);
}

.card p{
    padding: 1rem;
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}