header{
    width: calc(100% - 24rem);
    padding: .5rem 12rem;
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    display: flex;
}

#logo{
    width: 3rem;
    height: 3rem;
    background: url(../ASSETS/imgs/logo.png) center/contain no-repeat;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

ul li a{
    color: var(--secondary);
    text-decoration: none;
}

#contact{
    padding-left: 1.5rem;
    border-left: 1px solid var(--secondary);
}

#contact a{
    padding: .4rem;
    background-color: var(--blue-torc);
    border-radius: 10px;
}