html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: calc(100% - 4rem);
    min-height: calc(100lvh - 8.05rem);
    padding: 2rem;
    background-color: var(--primary);
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#home{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
}

#info--medias{
    color: var(--secondary);
    display: flex;
    gap: .6rem;
    flex-direction: column;
}

#info--medias h1{
    color: var(--secondary);
    font-size: 4em;
}

#info--medias h1 span{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
}

#info--medias #cargo{
    position: relative;
    font-size: 1.4em;
}

#info--medias #cargo::before{
    content: '';
    animation: infoSpan 20s infinite;
}

@keyframes infoSpan {
    0%,100%{
        content: "Fullstack Developer";
    }
}

#info--medias #cargo::after{
    content: '';
    position: absolute;
    right: -.4rem;
    width: calc(100% + .4rem);
    height: 100%;
    background-color: var(--primary);
    border-left: 2px solid var(--blue-torc);
    animation: cursor .8s infinite, write 20s steps(15) infinite;
}

@keyframes write {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + .4rem);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid var(--primary);
    }
}

#medias{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#linkdin{
    width: 3rem;
    height: 3rem;
    background: url(../ASSETS/icons/linkedin.png) center/cover no-repeat;
}

#github{
    width: 3rem;
    height: 3rem;
    background: url(../ASSETS/icons/github.png) center/cover no-repeat;
}

#cv{
    margin-top: .2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

button{
    padding: 1rem;
    color: var(--secondary);
    background-color: var(--blue-torc-2);
    backdrop-filter: blur(10px);
    border: 2px solid var(--blue-torc);
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}