html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: calc(100% - 4rem);
    min-height: calc(100lvh - 8.05rem);
    padding: 2rem;
    background-color: var(--primary);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#work{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
}

h1{
    color: var(--blue-torc);
    text-shadow: 0px 0px 10px var(--blue-torc);
    font-size: 3em;
}

#galleria{
    width: 80rem;
    max-width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card{
    position: relative;
    box-shadow: 0px 5px 18px var(--secondary);
    transition: .3s ease;
}

#info{
    position: absolute;
    top: 0;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    padding: 2rem;
    background-color: var(--secondary-2);
    backdrop-filter: blur(10px);
    transform: rotateY(180deg);
    display: none;
    gap: 1rem;
    flex-direction: column;
    z-index: 998;
}

#info h2{
    color: var(--blue-torc);
}

#info a{
    color: var(--blue-links);
}

.card:hover{
    transform: rotateY(180deg);
}

.card:hover  #info{
    display: flex;
}